---
import { formatDate } from "../utils";
import type { CollectionEntry } from "astro:content";
import Tags from "./Tags.astro";

const { article } = Astro.props;

interface Props {
    article: CollectionEntry<'blog'>;
}
---


<!-- <div class="max-w-md mx-auto mt-10">
    <div class="bg-transparent rounded-lg overflow-hidden">
        <a href={'/articles/' + article.slug}>
            <img
                    src={'/images/' + article.data.image}
                    alt="Article Image"
                    class="w-full h-48 object-cover hover:opacity-75 transition duration-300 ease-in-out"
            />
        </a>
        <div class="p-6">
            <h2 class="text-2xl font-semibold mb-2">
                <a href={'/articles/' + article.slug}> {article.data.title} </a>
            </h2>
            <p class="text-gray-600 text-sm mb-4">{formatDate(article.data.pubDate)}</p>
            <Tags tags={article.data.tags} />
        </div>
    </div>
</div> -->

<div class="flex items-center  justify-center py-12">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 max-w-[1024px]">
        <div class="group relative my-2">
            <div class="">
                <a href={'/articles/' + article.slug} class="relative flex items-start rounded-lg bg-white p-5 dark:bg-synthwaveNachtBlau">
                    <div class="flex items-center flex-col justify-between w-full mb-4">
                        <img
                                src={'/images/' + article.data.image}
                                alt="Article Image"
                                class="w-full h-48 object-cover hover:opacity-75 transition duration-300 ease-in-out"
                        />
                        <div class="py-6">
                            <h2 class="text-2xl font-semibold mb-2">
                                <a href={'/articles/' + article.slug}> {article.data.title} </a>
                            </h2>
                            <h2 class="text-2xl font-semibold mb-2">
                                <a href={'/articles/' + article.slug}> {article.data.title} </a>
                            </h2>
                            <Tags tags={article.data.tags} />
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>