---
const { frontmatter, Content } = Astro.props;
const description = frontmatter.description || "Beschreibung fehlt";
const pubDate = frontmatter.pubDate ? new Date(frontmatter.pubDate).toISOString().slice(0, 10) : "Datum fehlt";
const author = frontmatter.author || "Autor unbekannt";
const imageUrl = frontmatter.image.url || "default.png";
const imageAlt = frontmatter.image.alt || "Bildbeschreibung fehlt";
const tags = frontmatter.tags || [];
---

<article>
    <header>
        <h1>{frontmatter.title}</h1>
        <p><em>{description}</em></p>
        <p>{pubDate}</p>
        <p>Written by: {author}</p>
        <img src={imageUrl} width="300" alt={imageAlt} />
    </header>

    <section>
        { Content ? <Content /> : 'Content not available' }
    </section>

    <footer>
        <div class="tags">
            {tags.map((tag) => (
                    <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
            ))}
        </div>
    </footer>
</article>