---

import { tiles } from '../lib/tiles';
---
<div class="flex items-center justify-center">
    <div class="grid grid-rows-3 grid-cols-1 gap-8 lg:justify-between py-12">
        {tiles.map(tile => (
                <div class="my-2 grid items-start gap-8">
                    <div class="group relative">
                        <div class={`animate-tilt absolute -inset-0.5 rounded-lg bg-gradient-to-r ${tile.gradientFrom} ${tile.gradientTo} opacity-50 blur transition duration-1000 group-hover:opacity-100 group-hover:duration-200`}></div>
                        <a href={tile.href}>
                      <span class="relative flex items-center rounded-lg bg-white px-5 py-4 leading-none dark:bg-synthwaveNachtBlau">
                          <span class="flex items-center space-x-5">
                              <svg xmlns="http://www.w3.org/2000/svg"
                                   class={`h-6 w-6 -rotate-6 ${tile.iconColor} ease-custom-ease duration-1000 group-hover:rotate-180`}
                                   fill="none"
                                   viewBox="0 0 24 24"
                                   stroke="currentColor">
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d={tile.icon}></path>
                              </svg>
                          </span>
                          <span class="pr-6 ml-6 text-gray-900 dark:text-gray-100 border-r border-gray-700">{tile.title}</span>
                          <span class={`pl-6 ${tile.linkColor} transition duration-200 group-hover:text-gray-900 dark:group-hover:text-gray-100`}>{tile.linkText}</span>
                      </span>
                        </a>
                    </div>
                </div>
        ))}
    </div>
</div>