---
import BlogPostTile from './BlogPostTile.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
---
<section class="lg:w-[1024px] mx-auto border-t border-gray-700 pt-8">
    <ul>
        {allPosts.slice(0, 3).map((post) => (
            <BlogPostTile
                key={post.url}
                pubDate={post.frontmatter.pubDate}
                url={post.url}
                title={post.frontmatter.title}
                description={post.frontmatter.description}
                tags={post.frontmatter.tags}
                slug={post.slug}
            />
        ))}
    </ul>
</section>
