---
import Code from "../components/icons/Code.astro";
import Backend from "../components/icons/Backend.astro";
import Database from "../components/icons/Database.astro";
import {frontendTechnologies} from "../lib/frontendTechnologies";
import {backendTechnologies} from "../lib/backendTechnologies";
import {databaseTechnologies} from "../lib/databaseTechnologies";
import {devOpsCloudTechnologies} from "../lib/devOpsCloudTechnologies";
---

<div class="flex items-center justify-center mx-auto max-w-[1024px]">
    <div x-data="{ activeTab: 0 }" class="w-full border-2 border-deepPink rounded-2xl border-opacity-15 transition-border-opacity duration-300 ease-in hover:border-opacity-35 bg-synthwaveNachtBlau p-4">
        <!-- Tab Buttons -->
        <div class="flex border-b border-gray-700">
            <button
                    @click="activeTab = 0"
                    :class="activeTab === 0 ? 'border-amber-400 text-amber-400' : 'border-transparent text-amber-300 hover:text-deepPink'"
                    class="flex items-center justify-center gap-x-2 px-4 py-2 font-medium text-sm border-b-2 focus:outline-none">
                <Code class="text-white" /> <span>Frontend technologies</span>
            </button>
            <button
                    @click="activeTab = 1"
                    :class="activeTab === 1 ? 'border-blueViolet text-blueViolet' : 'border-transparent text-blueViolet hover:text-deepPink'"
                    class="flex items-center justify-center gap-x-2 px-4 py-2 font-medium text-sm border-b-2 focus:outline-none">
                <Backend class="text-white" /> <span>Backend technologies</span>
            </button>
            <button
                    @click="activeTab = 2"
                    :class="activeTab === 2 ? 'border-greenMint text-greenMint' : 'border-transparent text-greenMint hover:text-deepPink'"
                    class="flex items-center justify-center gap-x-2 px-4 py-2 font-medium text-sm border-b-2 focus:outline-none">
                <Database class="text-white" /> <span>Database</span>
            </button>
            <button
                    @click="activeTab = 3"
                    :class="activeTab === 3 ? 'border-greenMint text-greenMint' : 'border-transparent text-greenMint hover:text-deepPink'"
                    class="flex items-center justify-center gap-x-2 px-4 py-2 font-medium text-sm border-b-2 focus:outline-none">
                <Database class="text-white" /> <span>DevOps & Cloud</span>
            </button>
        </div>

        <!-- Tab Content -->
        <div class="mt-4">
            <div x-show="activeTab === 0" class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4 lg:gap-8">
                {frontendTechnologies.map((frontend) => (
                        <div key={frontend.name} class="flex flex-col items-center">
                            <img
                                    src={frontend.icon}
                                    alt={frontend.name}
                                    class="h-20 w-20 object-contain text-gray-700 hover:text-primary-color-500 dark:text-gray-200 dark:hover:text-primary-color-dark-500"
                            />
                            <span class="mt-2 text-sm font-medium">{frontend.name}</span>
                        </div>
                ))}
            </div>
            <div x-show="activeTab === 1" class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4 lg:gap-8">
                {backendTechnologies.map((backend) => (
                        <div key={backend.name} class="flex flex-col items-center">
                            <img
                                    src={backend.icon}
                                    alt={backend.name}
                                    class="h-20 w-20 object-contain text-gray-700 hover:text-primary-color-500 dark:text-gray-200 dark:hover:text-primary-color-dark-500"
                            />
                            <span class="mt-2 text-sm font-medium">{backend.name}</span>
                        </div>
                ))}
            </div>
            <div x-show="activeTab === 2" class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4 lg:gap-8">
                {databaseTechnologies.map((database) => (
                        <div key={database.name} class="flex flex-col items-center">
                            <img
                                    src={database.icon}
                                    alt={database.name}
                                    class="h-20 w-20 object-contain text-gray-700 hover:text-primary-color-500 dark:text-gray-200 dark:hover:text-primary-color-dark-500"
                            />
                            <span class="mt-2 text-sm font-medium">{database.name}</span>
                        </div>
                ))}
            </div>
            <div x-show="activeTab === 3" class="grid grid-cols-2 md:grid-cols-3 gap-4 lg:gap-8">
                {devOpsCloudTechnologies.map((devopscloud) => (
                        <div key={devopscloud.name} class="flex flex-col items-center">
                            <img
                                    src={devopscloud.icon}
                                    alt={devopscloud.name}
                                    class="h-20 w-20 object-contain text-gray-700 hover:text-primary-color-500 dark:text-gray-200 dark:hover:text-primary-color-dark-500"
                            />
                            <span class="mt-2 text-sm font-medium">{devopscloud.name}</span>
                        </div>
                ))}
            </div>
        </div>
    </div>
</div>